{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Ya boooooooi</h1>
<div class="container-fluid">
    <div class="jumbotron col-md-6">
        <h1>The future is now</h1>
        <p>Learn more about the future by continuing to live</p>
        <button class="btn btn-primary btn-lg">Start now</button>
    </div>
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>yeah</th>
                    <th>yeah</th>
                    <th>yeah</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>boi</td>
                    <td>boi</td>
                    <td>boi</td>
                </tr>
                <tr>
                    <td>aboi</td>
                    <td>aboi</td>
                    <td>aboi</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('table').tablesorter()
    });
</script>
{% endblock %}
