{% extends "layout.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1><span class="logo-new">New</span>Tube™</h1>
<div class="container-fluid">
    <div class="jumbotron col-md-6">
        <h1>The future is <span class="logo-new">New</span>™</h1>
        <p>All the content you <span class="logo-new">love</span> plus a lot more crap you won't be able not to binge watch !</p>
        <a href="/register" class="btn btn-primary btn-lg">
            Start today !
        </a>
    </div>
    <div class="more-videos col-md-6">
        <div>
            <h2>Derniers visionnages</h2>
            {% for video in query_db('SELECT *, video.id AS id FROM videos AS video LEFT OUTER JOIN history AS hist ON hist.video_id=video.id GROUP BY video_id ORDER BY last_date DESC LIMIT 3') %}
            
            <div class="media" data-id="{{ video.id }}">
                <span class="badge pull-right">{{ query_db('SELECT COUNT(*) AS n FROM history WHERE video_id=?', video.id).fetchone()['n'] }}</span>
                {% if True %}
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="max-width: 90px" src="{{ video.thumbnail }}" />
                    </a>
                </div>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading">{{ video.title }}</h4>
                    {{ video.description }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <h2>Vidéos populaires</h2>
            {% for video in query_db('SELECT *, video.id AS id FROM videos AS video LEFT JOIN history AS hist ON hist.video_id=video.id GROUP BY video_id ORDER BY COUNT(video_id) DESC LIMIT 3') %}

            <div class="media" data-id="{{ video.id }}">
                <span class="badge pull-right">{{ query_db('SELECT COUNT(*) AS n FROM history WHERE video_id=?', video.id).fetchone()['n'] }}</span>
                {% if True %}
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="max-width: 90px" src="{{ video.thumbnail }}" />
                    </a>
                </div>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading">{{ video.title }}</h4>
                    {{ video.description }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <h2>Vidéos récentes</h2>
            {% for video in query_db('SELECT *, video.id AS id FROM videos AS video LEFT JOIN history AS hist ON video.id=video_id GROUP BY video_id  ORDER BY added DESC LIMIT 3') %}
            <div class="media" data-id="{{ video.id }}">
                <span class="badge pull-right">{{ query_db('SELECT COUNT(*) AS n FROM history WHERE video_id=?', video.id).fetchone()['n'] }}</span>
                {% if True %}
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="max-width: 90px" src="{{ video.thumbnail }}" />
                    </a>
                </div>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading">{{ video.title }}</h4>
                    {{ video.description }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    {{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('table').tablesorter()
    });
</script>
{% endblock %}
