<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="ui menu" id="top-menu">
            <div class="huge header item">
                <h1>project9</h1>
            </div>
            <a class="header item" href="/">
                Accueil
            </a>
            <a class="header item" href="/stats">
                Stats
            </a>
            <a class="header item" href="/prof">
                Professeurs
            </a>
            <div class="item">
                <i class="trophy icon"></i> Mon Score : <span class="score-placeholder"></span>%
            </div>
            <a class="item" onclick="localStorage.clear(); update_score()">
                <i class="undo icon"></i> Reset
            </a>
        </div>
    </header>
    <div class="ui container" id="content">
        {% block content %}{% endblock %}
        <footer class="ui" style="text-align: center; margin-top: 25px">
            {% block footer %}
                <strong>project9</strong> - 2015
                <br />
                <br />
            {% endblock %}
        </footer>
    </div>
</body>
{% block script %}
    <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</html>
