{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post" class="col-md-4 col-md-offset-4">
    <h2>Login</h2>
    <div class="field">
        <label>Email<br>
            <input type="text" name="username" required>
        </label><br />
        <label>Password<br>
            <input type="password" name="password" required>
        </label>
    </div>
    <br>
    <button type="submit" class="btn btn-success">
        <i class="glyphicon glyphicon-user"></i> Login
    </button>
</form>
{% endblock %}
