{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="">
    <div class="field">
        <label>Email
            <input type="text" name="username" required>
        </label><br />
        <label>Password
            <input type="password" name="password" required>
        </label>
    </div>
    <button type="submit" class="btn btn-success">
        <i class="glyphicon glyphicon-user"></i> Login
    </button>
</form>
{% endblock %}
