{% extends 'layout.html' %}

{% block content %}
<h2>Register</h2>
<form method="post">
  <div class="form-input">
    <label>Username</label>
    <input class="form-control" name="username" placeholder="Username" required>
  </div>
  <div class="form-input">
    <label>Password</label>
    <input class="form-control" name="password" placeholder="Password" required>
  </div>
  <div class="form-input">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>
{% endblock %}
