{% extends 'layout.html' %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
  <h2>Upload</h2>
  <form method="post" enctype="multipart/form-data">
    <div class="form-input">
      <label>Title:<br>
        <input name="title" required class="form-control">
      </label>
    </div>
    <div class="form-input">
      <label>Description:<br>
        <textarea name="description" required class="form-control"></textarea>
      </label>
    </div>
    <div class="form-input">
      <label>File:<br>
        <input type="file" name="video" required>
      </label>
    </div>
    <hr>
    <div class="form-input" style="text-align: center;">
      <button class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> I wanna be a star !</button>
    </div>
  </form>
</div>
{% endblock %}
