{% extends 'layout.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="text-center col-md-6 col-md-offset-3">
    <label>Title:<br>
        <input name="title" required class="form-control">
    </label>
    <br>
    <label>Description:<br>
        <textarea name="description" required class="form-control"></textarea>
    </label>
    <br>
    <label>File:<br>
        <input type="file" name="video" required>
    </label>
    <hr>
    <button class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> I wanna be a star !</button>
</form>
{% endblock %}
