{% extends "layout.html" %}

{% block title %}Watch{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <h1>{{ video.title }} <span class="badge">{{ query_db('SELECT COUNT(id) AS n FROM history WHERE video_id=?', video.id).fetchone().n }}</span></h1>
        <div style="padding: 15px;">
            <video poster="{{video.thumbnail }}" controls>
                <source src="{{ video.url }}" type="video/mp4">
            </video>
        </div>
        <p>{{ video.description }}</p>
        <hr>

  <h3>Tags</h3>
  <p>
  {% for tag in (video.tags or '').split(',') %}
  <span class="label label-primary">{{ tag }}</span>
  {% endfor %}
  </p>

        <h3>Share</h3>
  <!-- Your share button code -->
  <div class="fb-share-button"
       data-href="{{ request.url }}"
    data-layout="button_count">
  </div>
  <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="CSGames">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <h3>Comments</h3>
        <div class="comments">
            {% for comment in query_db('SELECT * FROM comments JOIN users AS user ON user.id=comments.user_id WHERE video_id=?', video.id) %}
            <div class="media">
                {% if comment.photo %}
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{comment.photo}}">
                    </a>
                </div>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading">{{comment.name}}</h4>
                    {{comment.content}}
                </div>
            </div>
            {% else %}
            <p>Sorry, no comments</p>
            {% endfor %}
            {% if session.user %}
            <form method="post">
              <label>Add a new comment</label>
              <textarea class="form-control" name="content"></textarea>
              <button class="btn btn-primary">Comment</button>
            </form>
            {%endif %}
        </div>
    </div>

    <div class="col-md-4 more-videos">
        <h3>While you're at it, why don't you watch all those videos too ?</h3>
        {% for video in query_db('SELECT *, video.id AS id FROM videos AS video WHERE video.id != ? ORDER BY RANDOM() DESC LIMIT 5', video.id) %}
        <div class="media"  data-id="{{ video.id }}">
            <span class="badge pull-right">{{ query_db('SELECT COUNT(*) AS n FROM history WHERE video_id=?', video.id).fetchone()['n'] }}</span>
            {% if True %}
            <div class="media-left">
                <a href="#">
                    <img class="media-object" style="max-width: 90px" src="{{ video.thumbnail }}" />
                </a>
            </div>
            {% endif %}
            <div class="media-body">
                <h4 class="media-heading">{{ video.title }}</h4>
                {{ video.description }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}
    {{ super() }}
{% endblock %}
