.headerSortUp:after{
    content: ' ▼';
}

.headerSortDown:after{
    content: ' ▲';
}
.logo-new {
    color: #2B0EAD;
}

#accueil-latest img {
    width: 100%;
    max-width: 50px;
    margin-right: 30px;
}

.comments .media {
    border-left: 4px solid #2B0EAD;
    padding-left: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

video {
    width: 100%;
    border-radius: 0 25px 0 0;
}
