body {
    padding-top: 90px;
}

#top-menu {
    position: fixed;
    width: 100%;
    padding-left: 7.6%;
    top: 0;
    height: 75px;
    z-index: 100000;
}

#question_card {
    display: block;
}

abbr[title] {
    border-bottom: none;
}
